:root {
  --primaryColor: #8A457E;
  --secondaryColor: #333;
  --darkText: #000;
  --lightText: #fff;

  --bar-width: 3rem;
  --bar-height: .5rem;
  --hamburger-gap: .5rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: .75rem;
}

p {
  margin: 1rem 0;
}

header {
  background-color: var(--secondaryColor);
}

.container {
  padding: .5rem 1rem;
  max-width: 50rem;
  margin: auto;
}

.site-title a {
  color: var(--primaryColor);
  font-family: Georgia, 'Times New Roman', Serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.site-tagline {
  color: var(--lightText);
  font-family: Verdana, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.post-title a {
  color: var(--primaryColor);
  font-family: Georgia, 'Times New Roman', Serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.post-metadata {
  color: #999;
  font-size: 1.25rem;
}

.post-content {
  font-family: "Times New Roman", Arial, sans-serif;
  font-size: 1.5rem;
}

.archive-title {
  color: var(--primaryColor);
  font-family: Georgia, 'Times New Roman', Serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.archive-content .archive-group-by-year {
  font-size: 2rem;
  font-weight: bold;
  padding: .5rem 0 0 0;
  text-align: center;
}

.archive-content li {
  font-family: monospace;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25em;
  list-style: none;
  text-align: left;
}

.archive-content a {
  color: var(--primaryColor);
  font-family: Georgia, 'Times New Roman', Serif;
  font-size: 1rem;
  /* font-weight: bold; */
  text-decoration: none;
}


/* --------------------------------------------------------- */

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: .5rem;
  right: 0;
  cursor: pointer;
  padding: 1em 2em;
  z-index: 2;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--secondaryColor);
  box-shadow: 0 0 0 1px var(--lightText);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--lightText);
  border-radius: 1rem;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.primaryNav {
  color: var(--lightText);
  background-color: var(--secondaryColor);
  display: none;
  min-height: 100svh;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: calc(var(--hamburger-height) + 3.25rem);
  padding-right: 1rem;
  opacity: 0;
  transition: display var(--animation-timing), opacity var(--animation-timing);
  transition-behavior: allow-discrete;
}

.hamburger-menu:has(input:checked)+.primaryNav {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

/* --------------------------------------------------------- */

.nav-buttons {
  display: grid;
  list-style: none;
  margin: 0;
  gap: 1rem;
  text-align: right;
}

.nav-buttons li {
  border-radius: 0 100rem 100rem 0;
  padding: 1rem 2rem 1rem 1rem;
}

.nav-buttons li:has(a.active) {
  color: var(--darkText);
  background-color: var(--lightText);
  border-left: 1px solid var(--secondaryColor);
}

.nav-buttons li:hover {
  background: var(--primaryColor);
  color: var(--lightText);
}

.nav-buttons li:has(a:active) {
  color: var(--darkText);
  background-color: var(--lightText);
}

.nav-buttons a {
  color: inherit;
  text-decoration: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5rem;
}

.prevnext {
  border-top: 1px solid var(--secondaryColor);
  padding: .5rem 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1rem;
  color: var(--primaryColor);  
}

.prevnext a {
  color: inherit;
  text-decoration: none;
}

.prevnext a:first-child::before {
  content: url('/css/left-arrow.svg');
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  vertical-align: -30%;
  padding-right: 1rem;
}

.prevnext a:nth-child(2) {
  float: right;
}

.prevnext a:nth-child(2)::after {
  content: url('/css/right-arrow.svg');
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  vertical-align: -30%;
  padding-left: 1rem;
}


/* --------------------------------------------------------- */

.post-content img {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 95%;
  max-height: 95%;
}

/* --------------------------------------------------------- */


@media (min-width: 55rem) {

  .container {
    padding-bottom: 0;
  }

  .hamburger-menu {
    display: none;
  }

  .primaryNav {
    display: block;
    min-height: 0;
    opacity: 1;
    position: relative;
    padding: 0;
  }

  .nav-buttons {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
  }

  .nav-buttons li {
    display: inline-block;
    padding: 0;
    border-radius: .5em .5em 0 0;
  }

  .nav-buttons li:has(a.active) {
    border-left: 0;
  }

  .nav-buttons a {
    display: block;
    padding: .75em 2em;
    font-size: .75rem;
  }

  .post-title a {
    font-size: 1.5rem;
  }

  .post-metadata {
    font-size: .75rem;
  }

  .post-content {
    font-size: 1rem;
  }

}
