{{ define "main" }}
  <div class="container">
      {{ range site.RegularPages.ByDate.Reverse | first 1 }}
        <div class="post-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
        <div class="post-metadata">
          {{ .Date | time.Format ":date_long" }} ⟐
          {{ .Date | time.Format ":time_short" }} ⟐
          {{ with .Params.categories }}{{ delimit . ", " }}{{ end }}
        </div>
        <div class="post-content">{{ .Content }}</div>
      {{ end }}
  </div>
{{ end }}
