{{- define "main" -}}

  <div class="container">

    <div class="archive-title"><a href="/">{{- .Title -}}</a></div>
    <div class="archive-content">{{- .Content -}}
      {{ range .Pages.GroupByDate "2006" }}
      <div class="archive-year">{{ .Key }}</div>
        <ul>
          {{- range.Pages }}
          <li>{{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>  {{ end -}}<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{- end }}
        </ul>
      {{- end -}}
    </div>
  </div>
{{- end -}}
